.container {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.mat-headline-1 {
  margin: 0;
  font-weight: 900;
  padding: 12px;
}
.mat-headline-2 {
  margin: 0;
}
